.footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    border-top: 1px solid #ddd; /*remove this and the upper one if we dont want the line*/
}

.footer .info {
    display: flex;
    gap: 2rem;
    cursor: pointer;
}

.footer .info p:hover {
    color: #000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
