.navigationbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    color: #555;
    position: sticky;
    box-shadow: 0 2px 5px #ddd; /*remove this and the upper one if we dont want the line*/
}

.rest {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu {
    display: flex;
    margin: 0;
    gap: 1rem;
    list-style: none;
    cursor: pointer;
}

.menu li:hover {
    color: #000;
}
