.timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 350px;
    overflow-y: auto;
    padding-right: 10px;
    position: relative;
}

.event {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 35%;
}

.event::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    width: 1px;
    background-color: #ccc;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
    position: relative;
    background-color: gray;
}

.upcoming {
    background-color: gray;
}

.completed {
    background-color: green;
}

.inProgress {
    background-color: blue;
}

.cancelled {
    background-color: red;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.status {
    font-weight: bold;
    white-space: pre-wrap;
}

.time {
    color: gray;
}

.line {
    width: 100%;
    background-color: #ccc;
    margin-top: 20px;
}
