.register-buttongroup {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.chechbox-place {
    display: flex;
    align-items: top;
    justify-content: top;
    gap: 0.5rem;
}

.chechbox-place input[type="checkbox"] {
    width: 0.9rem;
    height: 0.9rem;
    cursor: pointer;
	margin: 0.1rem;
    accent-color: black;
}

.chechbox-text {
	margin: 0px;
    display: flex;
    flex-direction: column;
}

.chechbox-text label {
    font-size: 1rem;
    color: #555;
}

.comment {
    color: #555;
	margin: 0px;
}
