.container {
    display: flex;
}

.content {
    width: 100%;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.backButton {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
    padding: 0.4rem 1.2rem;
    font-size: 14px;
}

.backButton:hover {
    background-color: black;
    color: white;
}
