.addDeviceForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.addEquipmentLabel {
    color: #222;
    font-size: 1rem;
}

.addEquipmentInput {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 10px;
}

.insertDeviceButton {
    background-color: #333;
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.3s;
    height: 40px;
    cursor: pointer;
}

.insertDeviceButton:hover {
    background-color: #555;
}

.buttonGroup {
    display: flex;
    gap: 1rem;
}
