.addTimeSlotForm {
    display: flex;
    flex-direction: column;
}

.dropboxInput {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
	margin-top: 0.5rem;
    margin-bottom: 20px;
}

.formLabel {
    color: #222;
    font-size: 1rem;
}

.addTimeSlotInput {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
	margin-top: 10px;
    margin-bottom: 20px;
}

.insertTimeSlotButton {
    background-color: #333;
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.3s;
    height: 40px;
    cursor: pointer;
}

.insertTimeSlotButton:hover {
    background-color: #555;
}

.timepickerMaxTime {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
