.device {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.device.BT {
    border-color: #f0a;
}

.device.FT {
    border-color: #0af;
}

.device.AC {
    border-color: #fa0;
}

.device.BE {
    border-color: #0fa;
}

.device.BT:hover {
    background-color: rgba(240, 10, 170, 0.1);
}

.device.FT:hover {
    background-color: rgba(0, 175, 255, 0.1);
}

.device.AC:hover {
    background-color: rgba(250, 160, 0, 0.1);
}

.device.BE:hover {
    background-color: rgba(0, 250, 170, 0.1);
}

.deviceText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.deviceTextTitle {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 5px;
    white-space: normal;
    word-break: break-word;
}

.deviceDescription {
    font-size: 12px;
    color: gray;
    margin-top: 4px;
}

.deviceDescriptionValue {
    color: black;
}

.removeButton {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.removeButton:hover {
    background-color: darkred;
}
