.dateNavigator {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.selectedDate {
    font-weight: bold;
}

.arrowButton {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.arrowButton:hover {
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.arrowButton:active {
    transform: scale(0.95);
}

.hourSelector {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.hourSelectorLabel {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.hourSelectorSelect {
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 3px;
}

.notActive {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

.active {
    padding: 5px 10px;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.span:not(.active) {
    font-weight: normal;
    color: gray;
}

.spacer {
    flex-grow: 1;
    text-align: center;
}

.separator {
    border-left: 1px solid #ccc;
    height: 30px;
    margin: 0 10px;
}
